@import "../../styles/variables";
@import "../../styles/base/mixins";

.link {
  display: flex;
  gap: 8px;
  height: 40px;
  align-items: center;
  justify-content: flex-start;
  color: $col-grey-2;
  font-size: 14px;
  font-weight: 400;
  padding-left: 30px;
  border-left: 4px solid $col-blue-3;
  transition: all 0.3s ease;

  &:hover {
    color: $col-blue-2;
    background: $col-blue-3;
    border-left: 4px solid $col-blue-1;
  }
  & span {
    display: flex;
    align-items: center;
    & svg {
      height: 14px;
    }
  }
  &__active {
    color: $col-blue-2;
    background: $col-blue-3;
    border-left: 4px solid $col-blue-1;
  }
}
