@use "sass:math";

$z-index: (
  alert: 70,
  fill-page: 60,
  modal: 50,
  dropdown-menu: 40,
  navigation: 30,
  underlay: 20,
  overlay: 10,
  normal: 5,
  behind: -1,
  upper: 1,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
// Z INDEX

@mixin respond($breakpoint) {
  @if ($breakpoint == mobile-screen) {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if ($breakpoint == tablet-screen) {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  }

  @if ($breakpoint == mobile-tablet-screen) {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }

  @if ($breakpoint == responsive) {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }

  @if ($breakpoint == desktop-screen) {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}

@mixin position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position-fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin border-radius($pixel...) {
  border-radius: $pixel;
  -webkit-border-radius: $pixel;
  -moz-border-radius: $pixel;
  -ms-border-radius: $pixel;
  -o-border-radius: $pixel;
}

@mixin filter($value) {
  filter: $value();
  -webkit-filter: $value();
}

@mixin transition {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

@mixin scrollbar-show(
  $barWidth,
  $borderWidth,
  $bar-color,
  $radius,
  $track-bg,
  $thumb-bg
) {
  -ms-overflow-style: block;

  &::-webkit-scrollbar {
    width: $barWidth;
    border: $borderWidth solid $bar-color;
    border-radius: $radius;
    display: block;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: $track-bg;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-bg;
  }
}

@mixin vertical-line($width, $color, $type, $height) {
  border-right: $width $type $color;
  height: $height;
}

@mixin horizontal-line($height, $type, $color, $width) {
  border-top: $height $type $color;
  width: $width;
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0em;
    height: 0em;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

@mixin shimmer {
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 200% 100%;
  animation: shine 1s infinite linear;

  @keyframes shine {
    0% {
      background-position: 100% 0;
      opacity: 0.4;
    }
    40% {
      opacity: 0.8;
    }
    100% {
      background-position: -100% 0;
      opacity: 0.4;
    }
  }
}
